<div id="lengthen-url-form-container">
    <form {{action "onSubmit" on="submit"}}>
        <label for="url" class="sr-only">Enter a URL</label>
        {{input name="url" size="200" placeholder="Enter a URL..." class="input-url" value=originalUrl type="text"}}
        <button class="btn" type="submit">Lengthen!</button>
    </form>
  {{#if url.longCode}}
    <div id="lengthened-result">
        <h4>Here's your sweet new URL</h4>
        <div class="lengthened-url">
            {{url.longCode}}
        </div>
    </div>
  {{/if}}
</div>