header {
  text-align: center;

  #logo {
    margin: 1em 0 0 0;

    > span {
      display: block;
    }

    .primary {
      @include text-enhance-a-rizer();
      text-transform: uppercase;
      text-shadow: 0px 2px 0px rgba(77, 12, 0, 1);
      font: normal 3em/1.5em $font-primary;
    }

    .secondary {
      font: normal 2em/1.1em $font-secondary;
      color: #ff9900;
      text-shadow: 0 5px 0 rgba(188, 80, 0, 1);
    }

    @include responsify(small) {
      .primary {
        font-size: 1.2em;
      }

      .secondary {
        font-weight: bold;
        font-size: 1em;
        text-shadow: 0 3px 0 rgba(188, 80, 0, 1);
      }
    }
  }

  h2 {
    font: normal 1em/1.1em $font-primary;
    margin: 0 0 4em;
  }
}
