$font-primary: 'Sigmar One', cursive;
$font-secondary: 'Raleway Dots', cursive;
$font-content: Arial, sans-serif;

$text-primary: #fff;
$text-oomf: #ff9900;

// Breakpoints
$break-small: 320px;
$break-medium: 600px;
$break-large: 1024px;
