<div class="container">
  <h1 id="logo" role="banner">
      <span class="secondary">Uniform Resource Locator</span>
      <span class="primary">Lengthen<span class="oomf">r</span></span>
  </h1>
</div>

<div id="main" role="main">
  {{url-form url=model onSubmit=(action "lengthenUrl")}}
</div>
